@import "../../../../global/variables.scss";
@import "../../../../global/mixins";

nav {
  @include flex-space-between;
  width: 60%;
  max-width: 2000px;
  height: 5vh;
  margin: 1rem auto 0 auto;
  border-radius: 100px;
  background-color: #00000030;
  background: linear-gradient(
    135deg,
    rgba(77, 77, 77, 0.6) 0%,
    rgba(59, 59, 59, 0.4) 50%,
    rgba(59, 59, 59, 0.068) 100%
  );
  backdrop-filter: blur(5px);

  img {
    margin-left: 40px;
    cursor: pointer;
  }

  ul {
    height: 100%;
    width: calc(90% - 40px);
    @include flex-space-around;

    li {
      min-width: fit-content;
      width: 5%;
      a {
        color: white;
        width: 120px; // Adjust the width as needed
        white-space: nowrap; // Prevent text from wrapping
      }
    }
  }
}
