<nav>
  <img src="../../../../assets/media/nav-logo.svg" alt="Navigation Logo" />
  <ul>
    <li>
      <a routerLink="/" data-value="Home" (mouseover)="anchorHover($event)"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        data-value="About"
        (mouseover)="anchorHover($event)"
        >About</a
      >
    </li>
    <li>
      <a routerLink="/work" data-value="Work" (mouseover)="anchorHover($event)"
        >Work</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        data-value="Contact"
        (mouseover)="anchorHover($event)"
        >Contact</a
      >
    </li>
  </ul>
</nav>
