@font-face {
    font-family: 'MENTRA';
    src: url('MENTRA.woff2') format('woff2'),
        url('MENTRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

